<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="lcwu.fyp.gohytch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/Gohytch" />

        <activity
            android:name=".activities.EditDriverActivity"
            android:label="Edit Driver Profile"
            android:parentActivityName=".activities.VendorDashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.EditRenterActivity"
            android:label="@string/title_activity_edit_renter"
            android:parentActivityName=".activities.VendorDashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SelectLocation"
            android:parentActivityName=".activities.MakeBooking"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MakeBooking"
            android:label="Make Booking"
            android:parentActivityName=".activities.SelectRenter" />
        <activity
            android:name=".activities.SelectRenter"
            android:label="Select Car"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.BookingDetails"
            android:parentActivityName=".activities.BookingActivity" />
        <activity
            android:name=".activities.CreateDriver"
            android:parentActivityName=".activities.Dashboard"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.CreateRenter"
            android:label="Create Renter Profile"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.NotificationActivity"
            android:parentActivityName=".activities.Dashboard" />
        <activity
            android:name=".activities.BookingActivity"
            android:parentActivityName=".activities.Dashboard" />
        <activity
            android:name=".activities.Dashboard"
            android:label="@string/title_activity_dashboard"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.EditUserProfile"
            android:label="@string/title_activity_edit_user_profile"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.Dashboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activities.VendorDashboard"
            android:label="@string/title_activity_vendor_dashboard"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>